#!/usr/bin/env python2

{% block imports %}{% endblock -%}

{% block header %}{% endblock -%}

{% block class_def %}class myclass(object):{% endblock %}

    {% block init_def %}def __init__(self):{% endblock %}
        {% block makes %}{% endblock %}

{% block footer %}{% endblock %}
