{% extends "base.jinja2" %}

{% block imports -%}
# imports
{%- for import_ in get_imports(fg) %}
{{ import_ -}}
{% endfor %}


{% endblock imports %}

{% block class_def %}class {{ fg.uid }}(gr.top_block):{% endblock %}

{% block makes %}
    {%- for block in fg.blocks %}
        self.{{ block.uid }} = {{ block.uid }} = {{ get_block_make(block)|indent(8, False) -}}
    {% endfor -%}
{% endblock makes %}

{% block footer %}
if __name__ == '__main__':
    fg = {{ fg.uid }}()
    fg.start()
{% endblock %}
